POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# If host port 5432 is already taken, run:
#   POSTGRES_PUBLISH_PORT=5433 docker compose up -d db
# and set POSTGRES_PORT=5433 here.
